.header {
	z-index: 2;
	position: relative;
	top: 0;
	min-width: 320px;
	width: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	background-color: var(--white-color);

	& .logo,
	& .logo img {
		display: inline-block;
	}
	& .logo img {
		min-width: 120px;
		width: 120px;
		min-height: 75px;
		height: 75px;
	}
	&__contacts,
	&__contacts-item {
		display: flex;
	}
	&__contacts {
		justify-content: flex-end;
		align-items: center;
		min-height: 100%;
		height: 100%;
	}
	&__contacts-item {
		align-items: flex-end;
	}
	&__contacts-item span {
		white-space: nowrap;
	}
	&__contacts-item .text-content-ml {
		margin-left: 2px;
	}
	&__contacts-item .text-content-mr {
		margin-right: 2px;
	}
}

@media (max-width: 767.98px) {
	.header {
		padding-top: 5px;
		padding-bottom: 5px;

		& .logo img {
			min-width: 74px;
			width: 74px;
			min-height: 50px;
			height: 50px;
		}
		&__contacts-item:not(:last-child) {
			margin-right: 12px;
		}
		&__contacts-item:not(:first-child) {
			padding-left: 4px;
		}
	}
}
@media (min-width: 768px) {
	.header {
		padding-top: 10px;
		padding-bottom: 15px;

		& .logo img {
			min-width: 110px;
			width: 110px;
			min-height: 75px;
			height: 75px;
		}
		&__contacts-item {
			min-height: 26px;
			height: 26px;
		}
		&__contacts-item:not(:last-child) {
			margin-right: 40px;
		}
	}
}
